@charset'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font-p:"Montserrat", "sans-serif";
    --font-t:"League-gothic", "bebas-neue";
    
}
body{
    margin: 0;
    padding: 0;
}
header {
    background-color: aquamarine;
    width: 100%;

}
#logo {
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
#logo img {
    height: 100px;
    position: absolute;
}

#fc {
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.411);
    z-index: 99;
}