@charset'UTF-8';
:root{
    --font-p:;
    --font-t:;
    
}

body{
    margin: 0;
    padding: 0;
}
header {
    background-color: aquamarine;

}
#logo {
    height:100px;
    display: flex;
    justify-content: center;
}